@import url("https://fonts.googleapis.com/css?family=Raleway:regular,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

:root {
  --font: "Raleway", sans-serif;
  --font-accent:"Playfair Display", serif;
  --font-secondary: "Roboto", sans-serif;
  --f-base: 16px var(--font);
  --dark: #242B33;
  --accent: #D4C17F;
  --white: #ffffff;
  --footer-bg: #2D343C;
}

/*
  font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
*/
body {
  font: var(--f-base);
  color: var(--white);
  background-color: var(--dark);
}

a {
  display: block;
  color: var(--white);
  transition: 0.2s ease-in-out;
}
a:hover {
  color: var(--accent);
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 30px;
  min-height: 840px;
  background: linear-gradient(180deg, rgb(36, 43, 51) 12%, rgba(45, 52, 60, 0.38) 51%, rgb(36, 43, 51) 92%), url(".././img/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}

.header__title {
  color: var(--accent);
  text-align: center;
  line-height: 1;
  font-family: var(--font-accent);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 113px;
}

.header__scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 90px;
  margin-top: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
}
.header__scroll:hover {
  transform: translate(-50%) scale(1.1);
}
.header__scroll:hover::before {
  width: 90px;
  height: 90px;
  visibility: visible;
}
.header__scroll:hover .header__scroll-img-inner {
  height: 26px;
}
.header__scroll:hover .header__scroll-img-inner::before,
.header__scroll:hover .header__scroll-img-inner::after {
  opacity: 1;
  width: 3px;
  height: 12px;
}

.header__scroll::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: 0px;
  height: 0px;
  background-color: grey;
  filter: blur(50px);
  transition: all 0.2s ease-in;
}

.header__scroll-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 55px;
  border: 3px solid var(--accent);
  border-radius: 30px;
  transition: transform 150ms ease-in, background-filter 150ms ease-in;
}

.header__scroll-img-inner {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 9px;
  background-color: var(--accent);
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}
.header__scroll-img-inner::before, .header__scroll-img-inner::after {
  content: "";
  position: absolute;
  top: 18px;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--accent);
  border-radius: 4px;
  transition: opacity 0.3s ease, width 250ms ease-in, height 250ms ease-in;
}
.header__scroll-img-inner::before {
  right: -2px;
  transform: translateX(40%) rotate(45deg);
}
.header__scroll-img-inner::after {
  left: -2px;
  transform: translateX(-40%) rotate(-45deg);
}

.logo {
  cursor: pointer;
  animation-name: logoAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes logoAnimation {
  0% {
    opacity: 1;
    transform: translateY(-3px) rotate(1deg);
  }
  100% {
    opacity: 0.7;
    transform: translateY(3px) rotate(-1deg);
  }
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-list-item {
  position: relative;
  font-size: 18px;
}
.nav-list-item:hover::before {
  min-width: 100%;
}

.nav-list-item::before {
  content: "";
  position: absolute;
  top: 25px;
  min-width: 0;
  height: 2px;
  background-color: var(--accent);
  transition: min-width 250ms ease-out 100ms, height 250ms ease-out;
}/*# sourceMappingURL=main.css.map */