.header {
  padding-top: 30px;
  min-height: 840px;

  background: linear-gradient(
    180deg,
    rgba(36, 43, 51, 1) 12%,
    rgba(45, 52, 60, 0.38) 51%,
    rgba(36, 43, 51, 1) 92%

  ),
  url('.././img/header/header-bg.jpg');

  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 200px;
}

.header__title {
  color: var(--accent);
  text-align: center;
  line-height: 1;

  font-family: var(--font-accent);
  font-size: 48px;
  font-weight: 700;

  margin-bottom: 113px;
}

.header__scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 90px;
  height: 90px;
  margin-top: 110px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: 0.2s ease-in;

  &:hover  {
    transform: translate(-50%) scale(1.1);
    
    &::before {
      width: 90px;
      height: 90px;
      visibility: visible;
    }

    .header__scroll-img-inner {
      height: 26px;
    }

    .header__scroll-img-inner::before,
    .header__scroll-img-inner::after {
      opacity: 1;
      width: 3px;
      height: 12px;
    }
  }
}

.header__scroll::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  visibility: hidden;
  width: 0px;
  height: 0px;
  background-color: grey;
  filter: blur(50px);

  transition: all 0.2s ease-in;
}


.header__scroll-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 35px;
  height: 55px;
  border: 3px solid var(--accent);
  border-radius: 30px;
  transition: transform 150ms ease-in, background-filter 150ms ease-in;
}

.header__scroll-img-inner {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);

  width: 3px;
  height: 9px;
  background-color: var(--accent);
  border-radius: 4px;
  
  transition: all 0.4s ease-in-out;

  &::before, &::after { 
    content: '';
    position: absolute;
    top: 18px;

    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--accent);
    border-radius: 4px;

    transition: 
              opacity 0.3s ease, 
              width 250ms ease-in, 
              height 250ms ease-in;
  }

  &::before {
    right: -2px;
    transform: translateX(40%) rotate(45deg)
  }

   &::after {
    left: -2px;
    transform: translateX(-40%) rotate(-45deg);
  }
}