.header {
  padding-top: 30px;
  min-height: 840px;

  background: linear-gradient(
    180deg,
    rgba(36, 43, 51, 1) 12%,
    rgba(45, 52, 60, 0.38) 51%,
    rgba(36, 43, 51, 1) 92%

  ),
  url('.././img/header/header-bg.jpg');

  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 200px;
}

.header__title {
  color: var(--accent);
  text-align: center;
  line-height: 1;

  font-family: var(--font-accent);
  font-size: 48px;
  font-weight: 700;

  margin-bottom: 113px;
}