.header {
  padding-top: 30px;
  min-height: 840px;

  background: linear-gradient(
    180deg,
    rgba(36, 43, 51, 1) 12%,
    rgba(45, 52, 60, 0.38) 51%,
    rgba(36, 43, 51, 1) 92%

  ),
  url('.././img/header/header-bg.jpg')
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav__list {
  display: flex;
  column-gap: 40px;
}

.header__nav-list-item {
  
}